@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Varela+Round:regular&display=swap");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Lato";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1600;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #26272d;
$grayColor: #8c8f94;
$lightColor: #f5f5f8;
$greenColor: #6fc754;
$blueColor: #267df4;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
//@import "popup";
@import "header";
@import "footer";
//@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&__intro {
		padding: 180px 0px 0px 0px;
		@media (max-width: $md2+px) {
			padding: 100px 0px;
		}
	}
	&__features {
		@include adaptiv-value("padding-top", 120, 40, 0);
		@include adaptiv-value("padding-bottom", 120, 40, 0);
		border-bottom: 1px solid #f4f4f4;
	}
	&__feature-phone {
		@include adaptiv-value("padding-top", 110, 40, 0);
		@include adaptiv-value("padding-bottom", 150, 60, 0);
	}
	&__feature-map {
		@include adaptiv-value("padding-bottom", 180, 60, 0);
	}
	&__interface {
		@include adaptiv-value("padding-top", 130, 40, 0);
		@include adaptiv-value("padding-bottom", 110, 60, 0);
	}
	&__ready {
		@include adaptiv-value("padding-bottom", 130, 60, 0);
	}
	&__team {
		@include adaptiv-value("padding-top", 20, 0, 0);
		@include adaptiv-value("padding-bottom", 100, 40, 0);
	}
	&__plan {
		@include adaptiv-value("padding-top", 180, 40, 0);
		@include adaptiv-value("padding-bottom", 180, 40, 0);
	}
}
//===================================================================================================================================
.intro {
	display: flex;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	background: url("../img/intro/intro-bg.png") center / cover no-repeat;
	&__container {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: $md2+px) {
			justify-content: center;
		}
	}
	&__body {
		text-align: center;
		max-width: 800px;
	}
	&__title {
		font-family: "Varela Round";
		@include adaptiv-value("font-size", 62, 42, 1);
		line-height: math.div(72, 62) * 100%;
		margin: 0px 0px math.div(25, 62) * 1em 0px;
	}
	&__text {
		margin: 0px 0px math.div(55, 20) * 1em 0px;
		@media (max-width: $md2+px) {
			color: $mainColor;
		}
	}
	&__button {
		min-height: 48px;
		padding: 0px 40px;
		&::before {
			font-size: 12px;
			padding: 0px 10px 0px 0px;
		}
		@media (max-width: $md2+px) {
			background-color: #fff;
		}
	}
	&__image {
		position: absolute;
		left: 50%;
		bottom: -320px;
		transform: translate(-50%, 0px);
		@media screen and (max-width: $md2+px), screen and (max-height: 940px) {
			display: none;
		}
	}
}
//====================================================================================================
.features {
	&__body {
		display: grid;
		column-gap: 159px;
		row-gap: 60px;
		grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
	}
	&__image {
		margin: 0px 0px 35px 0px;
	}
	&__title {
		font-weight: 300;
		font-size: 26px;
		line-height: math.div(34, 26) * 100%;
		margin: 0px 0px math.div(30, 26) * 1em 0px;
	}
	&__text {
		p {
			color: $grayColor;
			font-size: 18px;
			line-height: math.div(26, 18) * 100%;
			&:not(:last-child) {
				margin: 0px 0px math.div(20, 18) * 1em 0px;
			}
		}
	}
}
//====================================================================================================
.feature-phone {
	&__container {
		@media (min-width: $md2+px) {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
		}
	}
	&__content {
		@media (min-width: $md2+px) {
			@include adaptiv-value("min-width", 479, 0, 1);
		}
	}
	&__title {
		@include adaptiv-value("margin-bottom", 65, 25, 1);
	}
	&__text {
		@include adaptiv-value("margin-bottom", 70, 35, 1);
		p {
			&:not(:last-child) {
				margin: 0px 0px 30px 0px;
			}
		}
	}
	&__image {
		padding: 0px 40px 0px 0px;
		@media (max-width: $md2+px) {
			display: none;
		}
	}
}
.actions-feature {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	&__button {
		padding: 0px 32px;
		&:first-child {
			flex-direction: row-reverse;
			margin: 0px 20px 0px 0px;
			padding: 0px 18px 0px 28px;
			&::before {
				padding: 0px 0px 0px 50px;
			}
		}
		@media (max-width: $md4+px) {
			flex: 1 1 100%;
			&:first-child {
				margin: 0px 0px 20px 0px;
			}
		}
	}
}
//====================================================================================================
.feature-map {
	&__container {
		@media (min-width: $md2+px) {
			display: flex;
			align-items: center;
		}
	}
	&__content {
		@media (min-width: $md2+px) {
			@include adaptiv-value("min-width", 479, 0, 1);
		}
	}
	&__title {
		@include adaptiv-value("margin-bottom", 45, 25, 1);
	}
	&__text {
		margin: 0px 0px 55px 0px;
		p {
			&:not(:last-child) {
				margin: 0px 0px 30px 0px;
			}
		}
	}
	&__image {
		padding: 0px 0px 0px 60px;
		@media (max-width: $md2+px) {
			display: none;
		}
	}
}
.partners-feature {
	&__title {
		text-transform: uppercase;
		font-weight: 900;
		font-size: 12px;
		line-height: math.div(22, 12) * 100%;
		margin: 0px 0px math.div(20, 12) * 1em 0px;
	}
	&__image {
		display: inline-block;
		&:not(:last-child) {
			margin: 0px 25px 0px 0px;
		}
		@media (max-width: $md4+px) {
			display: block;
			&:not(:last-child) {
				margin: 0px 0px 20px 0px;
			}
		}
		@media (any-hover: hover) {
			img {
				transition: all 0.2s ease 0s;
				filter: grayscale(0);
			}
			&:hover {
				img {
					filter: grayscale(1);
				}
			}
		}
	}
}
//====================================================================================================
.interface {
	background-color: $lightColor;
	&__container {
		max-width: 1766px;
	}
	&__head {
		text-align: center;
		margin: 0px 0px 42px 0px;
	}
	&__title {
		padding: 0px 0px 40px 0px;
		margin: 0px 0px 40px 0px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 50px;
			height: 2px;
			left: 50%;
			bottom: 0;
			transform: translate(-50%, 0px);
			background-color: $blueColor;
		}
	}
	&__subtitle {
		font-weight: 900;
		color: $grayColor;
		text-transform: uppercase;
		font-size: 12px;
		line-height: math.div(22, 12) * 100%;
	}
	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0px -15px;
		padding: 0px 0px 40px 0px;
		@media (max-width: $md2+px) {
			justify-content: flex-start;
			overflow: auto;
		}
	}
	&__image {
		padding: 0px 15px;
		@media (any-hover: hover) {
			img {
				transition: all 0.2s ease 0s;
				filter: grayscale(0);
			}
			&:hover {
				img {
					filter: grayscale(1);
				}
			}
		}
		img {
			box-shadow: 3px 9px 16px 0px rgba(61, 61, 62, 0.15), 15px 41px 66px 0px rgba(92, 95, 101, 0.28);
		}
		&_big {
			img {
				box-shadow: none;
			}
		}
	}
}
//====================================================================================================
.ready {
	background-color: $lightColor;
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	&__head {
		@include adaptiv-value("margin-bottom", 45, 25, 1);
	}
	&__suptitle {
		font-size: 12px;
		line-height: math.div(22, 12) * 100%;
		color: rgba(#3a3d4b, 0.5);
		text-transform: uppercase;
		margin: 0px 0px math.div(25, 12) * 1em 0px;
		span {
			font-weight: 700;
		}
	}
	&__title {
		color: #3a3d4b;
	}
	&__bottom {
		p {
			text-transform: uppercase;
			font-size: 12px;
			line-height: math.div(22, 12) * 100%;
			color: rgba(#3a3d4b, 0.3);
			margin: 0px 0px math.div(15, 12) * 1em 0px;
		}
	}
	&__button {
		font-size: 24px;
		min-height: 60px;
		padding: 0px 30px;
		border-radius: 30px;
		&::before {
			padding: 0px 15px 0px 0px;
		}
		.button__content {
			font-size: 11px;
			span {
				font-size: 20px;
			}
		}
	}
}
.form-ready {
	@include adaptiv-value("margin-bottom", 60, 35, 1);
	&__item {
		@media (min-width: $md3+px) {
			min-width: 562px;
		}
	}
	&__input {
		color: #3a3d4b;
	}
	&__button {
		flex-direction: row-reverse;
		&::before {
			padding: 0px 0px 0px 15px;
			@media (max-width: $md4+px) {
				display: none;
			}
		}
	}
}
//====================================================================================================
.team {
	&__body {
		max-width: 570px;
		margin: 0px auto;
	}
}
.slider-team-image {
	position: relative;
	&__body {
		padding: 132px 0px 100px 0px;
	}
	&__slide {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 90px;
	}
	&__image {
		width: 90px;
		height: 100%;
		border-radius: 50%;
		overflow: hidden;
		opacity: 0.2;
		transition: all 1s ease 0s;
		.swiper-slide-active &,
		.swiper-slide-duplicate-active & {
			opacity: 1;
			transform: scale(1.444);
			box-shadow: 14px 24px 40px 0px rgba(92, 95, 101, 0.28);
		}
	}
}
.slider-arrows {
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	width: calc(100% + 560px);
	left: -280px;
	transform: translate(0px, -50%);
	@media (max-width: 1200px) {
		width: calc(100% + 200px);
		left: -100px;
	}
	@media (max-width: $md3+px) {
		display: none;
	}
}
.slider-arrow {
	pointer-events: auto;
	color: $grayColor;
	font-size: 40px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			color: $mainColor;
		}
	}
	&_prev {
		&::before {
			transform: rotate(-180deg);
		}
	}
}
//============================================================================
.slider-team-info {
	&__slide {
		text-align: center;
	}
	&__title {
		@include adaptiv-value("font-size", 32, 26, 1);
		line-height: math.div(38, 32) * 100%;
		margin: 0px 0px math.div(45, 32) * 1em 0px;
	}
	&__text {
		color: $grayColor;
		font-size: 20px;
		line-height: math.div(28, 20) * 100%;
		margin: 0px 0px math.div(25, 20) * 1em 0px;
	}
	&__rate {
		display: flex;
		justify-content: center;
		margin: 0px 0px 55px 0px;
		span {
			font-size: 20px;
			color: #f2bc3b;
			&:not(:last-child) {
				margin: 0px 8px 0px 0px;
			}
		}
	}
	&__name {
		font-weight: 900;
		text-transform: uppercase;
		font-size: 12px;
		line-height: math.div(22, 12) * 100%;
	}
}
//====================================================================================================
.plan {
	background-color: #f4f4f5;
	&__body {
		@media (min-width: 1050px) {
			display: grid;
			align-items: center;
			@include adaptiv-value("column-gap", 98, 0, 1);
			grid-template-columns: 1fr 680px;
		}
	}
	&__content {
		@media (max-width: 1050px) {
			margin: 0px 0px 40px 0px;
		}
	}
	&__title {
		margin: 0px 0px math.div(55, 42) * 1em 0px;
	}
	&__text {
		color: $grayColor;
		font-size: 20px;
		line-height: math.div(28, 20) * 100%;
		margin: 0px 0px math.div(35, 20) * 1em 0px;
	}
	&__team {
		color: $grayColor;
		font-size: 14px;
		line-height: math.div(24, 14) * 100%;
		a {
			color: $blueColor;
			text-decoration: underline;
		}
	}
	&__cards {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@media (max-width: 1050px) {
			align-items: stretch;
			justify-content: space-evenly;
		}
		@media (max-width: 600px) {
			flex-wrap: wrap;
		}
	}
}
.checkbox-plan {
	max-width: 260px;
	@include adaptiv-value("margin-bottom", 70, 30, 1);
	&__change {
		font-weight: 900;
		font-size: 15px;
		text-transform: uppercase;
		margin: 0px 0px 1em 0px;
	}
	&__form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		border: 1px solid #bfc1c2;
		border-radius: 25px;
		height: 50px;
		padding: 3px;
		position: relative;
	}
	&__input {
		display: none;
	}
	&__label {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 5;
		text-align: center;
		cursor: pointer;
		font-weight: 700;
		color: rgba($mainColor, 0.4);
		transition: all 0.3s ease 0s;
		&._active {
			color: $mainColor;
		}
	}
	&__bg {
		content: "";
		position: absolute;
		top: 3px;
		left: 3px;
		width: 50%;
		height: calc(100% - 6px);
		border-radius: 21px;
		background-color: #fff;
		box-shadow: 2px 5px 20px 0px rgba(61, 61, 62, 0.15), 10px 28px 50px 0px rgba(92, 95, 101, 0.28);
		transition: all 0.2s ease 0s;
		&._active {
			left: calc(50% - 3px);
		}
	}
}
.card-plan {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 1 340px;
	min-height: 510px;
	background-color: #ebebed;
	border-radius: 10px;
	padding: 35px 50px 50px 50px;
	transition: all 0.3s ease 0s;
	text-align: center;
	@media (max-width: $md2+px) {
		padding: 30px 15px;
	}
	@media (max-width: 600px) {
		flex: 1 1 100%;
		&:first-child {
			margin: 0px 0px 30px 0px;
		}
	}
	&._active {
		background-color: #fff;
		box-shadow: 10px 28px 50px 0px rgba(92, 95, 101, 0.2);
	}
	&__head {
		text-align: center;
		margin: 0px 0px 55px 0px;
	}
	&__name {
		font-size: 32px;
		line-height: math.div(38, 32) * 100%;
		margin: 0px 0px math.div(25, 32) * 1em 0px;
	}
	&__price {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		min-height: 28px;
		padding: 0px 15px;
		text-transform: uppercase;
		border: 1px solid #c4c4c6;
		border-radius: 14px;
		font-weight: 900;
		font-size: 11px;
		line-height: math.div(22, 11) * 100%;
	}
	&__info {
		flex: 1 1 auto;
		margin: 0px 0px 45px 0px;
	}
	&__text {
		max-width: 180px;
		color: $grayColor;
		font-size: 20px;
		line-height: math.div(28, 20) * 100%;
		margin: 0px auto math.div(35, 20) * 1em auto;
	}
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		color: inherit;
		font-weight: 700;
		font-size: 16px;
		padding: 5px 0px;
		line-height: math.div(24, 16) * 100%;
		&::before {
			padding: 0px 10px 0px 0px;
			color: $greenColor;
		}
		&:not(:last-child) {
			margin: 0px 0px math.div(5, 16) * 1em 0px;
		}
	}
	&__button {
		min-height: 42px;
		padding: 0px 60px;
		border-radius: 21px;
		color: $blueColor;
		border: 1px solid $blueColor;
		@media (max-width: 600px) {
			width: 100%;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: $blueColor;
			}
		}
	}
}
//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
