@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Varela+Round:regular&display=swap");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Lato";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1600;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #26272d;
$grayColor: #8c8f94;
$lightColor: #f5f5f8;
$greenColor: #6fc754;
$blueColor: #267df4;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
//@import "popup";
@import "header";
@import "footer";
//@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&__intro {
		padding: 180px 0px 0px 0px;
		@media (max-width: $md2+px) {
			padding: 100px 0px;
		}
	}
	&__features {
		@include adaptiv-value("padding-top", 120, 40, 0);
		@include adaptiv-value("padding-bottom", 120, 40, 0);
		border-bottom: 1px solid #f4f4f4;
	}
	&__feature-phone {
		@include adaptiv-value("padding-top", 110, 40, 0);
		@include adaptiv-value("padding-bottom", 150, 60, 0);
	}
	&__feature-map {
		@include adaptiv-value("padding-bottom", 180, 60, 0);
	}
}
//===================================================================================================================================
.intro {
	display: flex;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	background: url("../img/intro/intro-bg.png") center / cover no-repeat;
	&__container {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: $md2+px) {
			justify-content: center;
		}
	}
	&__body {
		text-align: center;
		max-width: 800px;
	}
	&__title {
		font-family: "Varela Round";
		@include adaptiv-value("font-size", 62, 42, 1);
		line-height: math.div(72, 62) * 100%;
		margin: 0px 0px math.div(25, 62) * 1em 0px;
	}
	&__text {
		margin: 0px 0px math.div(55, 20) * 1em 0px;
		@media (max-width: $md2+px) {
			color: $mainColor;
		}
	}
	&__button {
		min-height: 48px;
		padding: 0px 40px;
		&::before {
			font-size: 12px;
			padding: 0px 10px 0px 0px;
		}
		@media (max-width: $md2+px) {
			background-color: #fff;
		}
	}
	&__image {
		position: absolute;
		left: 50%;
		bottom: -320px;
		transform: translate(-50%, 0px);
		@media screen and (max-width: $md2+px), screen and (max-height: 940px) {
			display: none;
		}
	}
}
//====================================================================================================
.features {
	&__body {
		display: grid;
		column-gap: 159px;
		row-gap: 60px;
		grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
	}
	&__image {
		margin: 0px 0px 35px 0px;
	}
	&__title {
		font-weight: 300;
		font-size: 26px;
		line-height: math.div(34, 26) * 100%;
		margin: 0px 0px math.div(30, 26) * 1em 0px;
	}
	&__text {
		p {
			color: $grayColor;
			font-size: 18px;
			line-height: math.div(26, 18) * 100%;
			&:not(:last-child) {
				margin: 0px 0px math.div(20, 18) * 1em 0px;
			}
		}
	}
}
//====================================================================================================
.feature-phone {
	&__container {
		@media (min-width: $md2+px) {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
		}
	}
	&__content {
		@media (min-width: $md2+px) {
			@include adaptiv-value("min-width", 479, 0, 1);
		}
	}
	&__title {
		@include adaptiv-value("margin-bottom", 65, 25, 1);
	}
	&__text {
		@include adaptiv-value("margin-bottom", 70, 35, 1);
		p {
			&:not(:last-child) {
				margin: 0px 0px 30px 0px;
			}
		}
	}
	&__image {
		padding: 0px 40px 0px 0px;
		@media (max-width: $md2+px) {
			display: none;
		}
	}
}
.actions-feature {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	&__button {
		padding: 0px 32px;
		&:first-child {
			flex-direction: row-reverse;
			margin: 0px 20px 0px 0px;
			padding: 0px 18px 0px 28px;
			&::before {
				padding: 0px 0px 0px 50px;
			}
		}
		@media (max-width: $md4+px) {
			flex: 1 1 100%;
			&:first-child {
				margin: 0px 0px 20px 0px;
			}
		}
	}
}
//====================================================================================================
.feature-map {
	&__container {
		@media (min-width: $md2+px) {
			display: flex;
			align-items: center;
		}
	}
	&__content {
		@media (min-width: $md2+px) {
			@include adaptiv-value("min-width", 479, 0, 1);
		}
	}
	&__title {
		@include adaptiv-value("margin-bottom", 45, 25, 1);
	}
	&__text {
		margin: 0px 0px 55px 0px;
		p {
			&:not(:last-child) {
				margin: 0px 0px 30px 0px;
			}
		}
	}
	&__image {
		padding: 0px 0px 0px 60px;
		@media (max-width: $md2+px) {
			display: none;
		}
	}
}
.partners-feature {
	&__title {
		text-transform: uppercase;
		font-weight: 900;
		font-size: 12px;
		line-height: math.div(22, 12) * 100%;
		margin: 0px 0px math.div(20, 12) * 1em 0px;
	}
	&__image {
		display: inline-block;
		&:not(:last-child) {
			margin: 0px 25px 0px 0px;
		}
		@media (max-width: $md4+px) {
			display: block;
			&:not(:last-child) {
				margin: 0px 0px 20px 0px;
			}
		}
		@media (any-hover: hover) {
			img {
				transition: all 0.2s ease 0s;
				filter: grayscale(0);
			}
			&:hover {
				img {
					filter: grayscale(1);
				}
			}
		}
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
