@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Varela+Round:regular&display=swap");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Lato";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1600;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #26272d;
$grayColor: #8c8f94;
$lightColor: #f5f5f8;
$greenColor: #6fc754;
$blueColor: #267df4;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
//@import "popup";
@import "header";
@import "footer";
//@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&__intro {
		padding: 180px 0px 0px 0px;
		@media (max-width: $md2+px) {
			padding: 100px 0px;
		}
	}
}
//===================================================================================================================================
.intro {
	display: flex;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	background: url("../img/intro/intro-bg.png") center / cover no-repeat;
	&__container {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: $md2+px) {
			justify-content: center;
		}
	}
	&__body {
		text-align: center;
		max-width: 800px;
	}
	&__title {
		font-family: "Varela Round";
		@include adaptiv-value("font-size", 62, 42, 1);
		line-height: math.div(72, 62) * 100%;
		margin: 0px 0px math.div(25, 62) * 1em 0px;
	}
	&__text {
		margin: 0px 0px math.div(55, 20) * 1em 0px;
		@media (max-width: $md2+px) {
			color: $mainColor;
		}
	}
	&__button {
		min-height: 48px;
		padding: 0px 40px;
		&::before {
			font-size: 12px;
			padding: 0px 10px 0px 0px;
		}
		@media (max-width: $md2+px) {
			background-color: #fff;
		}
	}
	&__image {
		position: absolute;
		left: 50%;
		bottom: -300px;
		transform: translate(-50%, 0px);
		@media screen and (max-width: $md2+px), screen and (max-height: 940px) {
			display: none;
		}
	}
}
//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
